.language-option {
    display: inline-block;
    vertical-align: middle;

    font-family: sans-serif;
    font-size: 0.85rem;
    font-weight: normal;

    text-transform: uppercase;
    text-align: center;
    text-shadow: none;

    border: 1px solid;
    border-radius: 5px;

    margin: 0.25em;
    padding: 0.5em;

    background: none;
    outline: 0;
    cursor: pointer;
    color: #3498db;

    &.active {
        color: #fff;
        background: #2980b9;
        border-color: #2980b9;
    }

    &:hover {
        color: #fff;
        background: #3498db;
        border-color: #2980b9;
    }
}
